name: npm Package Prerelease

on:
  release:
    types: [prereleased]

jobs:
  publish-npm:
    if: "github.event.release.prerelease"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "14"
          registry-url: "https://registry.npmjs.org"
      - run: npm ci
      - run: npm --no-git-tag-version version ${{ github.event.release.tag_name }}
      - run: npm publish --access public --tag next
        env:
          NODE_AUTH_TOKEN: ${{ secrets.npm_token }}
